
        .page-width.bsscommerce-passcode-container .bss-commerce-passcode-container-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 16px;
        }
        .bss-commerce-passcode-input-label {
            margin-bottom: 10px; 
            font-size: 15px;
            color: rgba(0, 0, 0, 1);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }
        #bsscommerce-ltap-password {
            display: flex;
        }
        .page-width.bsscommerce-passcode-container #bsscommerce-ltap-password {
            flex-direction: inherit;
            row-gap: 6px;
            column-gap: 6px;
            max-width: 1850px;
            max-height: 200px;
            align-items: center;
            height: 42px;
        }
        .bss-password-form-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 6px;
            flex: 1;
            justify-content: space-between;
        }
        .page-width.bsscommerce-passcode-container .bss-password-form-wrapper {
            width: 335px;
            max-width: 1500px;
            max-height: 200px;
            height: 100%;
        }
        #bsscommerce-password {
            padding: 8px 0 8px 10px;
            border-radius: 5;
            font-size: 14px;
            border: none;
            margin-right: 5px;
            box-shadow: none;
            outline: none;
        }
        .page-width.bsscommerce-passcode-container #bsscommerce-password {
            width: 335px;
        }    
        .toggle-passcode-input {
            background-color: 
            transparent; 
            border: none; 
            line-height: 0; 
            padding: 8px; 
            cursor: pointer; 
            fill: #BABEC3;
        }
        #bsscommerce-password-submit {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(0, 0, 0, 1) !important;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            height: 42px;
            font-size: 14px;
            font-weight: bold;
        }
        .page-width.bsscommerce-passcode-container #bsscommerce-password-submit {
            max-height: 200px;
            max-width: 350px;
            width: 79px;
        }
        .bss-passcode-request-v2 {
            //
        }
    
        .bss-lock-message-element{
            font-size: 14px !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-decoration: none !important;
            text-align: center !important;
            color: rgba(undefined, undefined, undefined, undefined) !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        
        
    [id*='MainProduct']:has(.bss-lock-element) [id*='Quantity-Form']{ cursor: not-allowed; opacity: .5; pointer-events: none }[id*='MainProduct']:has(.bss-lock-element) [id*='ProductSubmitButton'] { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }[id*='MainProduct']:has(.bss-lock-element) .shopify-payment-button { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }
			script#bss-behavior-script { display: none !important }
			li.grid__item:has(.bss-hpc-lock) {
                display: none !important;
            }
            li.collection-list__item:has(.bss-hpc-lock) {
				display: none !important;
			}
			li.collection__item:has(.bss-hpc-lock) {
				display: none !important;
			}
		